<%= form_with model: @short_url, url: short_urls_path, class: "max-w-lg m-auto" do |form| %>
    <div class="flex items-center justify-between border-b border-black py-2 m-auto">
        <%= form.text_field :target_url, name: 'short_url[target_url]', 
        placeholder: "Enter the link here", 
        class: "w-full mr-3 py-1 px-2 focus:outline-none text-gray-700" 
        %>
        <%= form.submit "Shortern", class: "cursor-pointer" %>
    </div>
    <% if @short_url.errors.full_messages.any? %>
        <% @short_url.errors.full_messages.each do |error_message| %>
            <% if @short_url.errors.full_messages.first == error_message %>
                <p class="text-left mt-1  text-red-500">
                    <i class="fa-solid fa-triangle-exclamation px-2"></i><%= error_message %>
                </p>
            <% end %>
        <% end %>
    <% end %>
<% end %>