<p>Your Long URL: 
    <% target_url = @url['target_url'] %>
    <a href="<%= target_url %>"><%= target_url %></a>
</p>

<p>Your shorterned URL: 
    <% short_url = @url['short_url'] %>
    <a href="/<%= short_url %>" data-turbo="false">
        <%= "#{request.protocol}#{request.host_with_port}/#{short_url}" %>
    </a>
</p>
